.baobab-filter--wrapper {
  height: 44px;
  width: 100%;
  position: relative;
  display: flex;
  background: #ffffff;
  .baobab-filter--item {
    flex:1;
    text-align: center;
    .baobab-title--wrapper {
      padding: 15px 0px;
      box-sizing: border-box;
      .baobab-right--trangle {
        display: inline-block;
        position: relative;
        top: 0px;
        margin-left: 6px;
        border: 3px solid transparent;
        border-top-color: #333333;
        transition: all .3s;
      }
      .baobab-right--icon {
        display: inline-block;
        position: relative;
        width: 16px;
        height: 16px;
        top: 4px;
        margin-left: 2px;
        background-image: url(../../example/images/filter-normal.svg);
        background-size: 100% 100%;
      }
    }
    .selected {
      color: #3E81F1;
      .baobab-right--trangle {
        border-top-color: #3E81F1;
        transform: rotate(-180deg);
        top: -3px;
      }
      .baobab-right--icon {
        background-image: url(../../example/images/filter-tint.svg)
      }
    }
  // for bottom section style
    .baobab-section--wrapper {
        position: absolute;
        top: 44px;
        right: 0px;
        left: 0px;
        transition: all 0s;
        z-index: 2;
        &.fade-active-enter{
        }
        &.fade-active-leave{
          tansform: tanslateY(-100%);
        }
    }
    .baobab-mix--show {
      background-color: #fff;
      .baobab-mix--wrapper {
        border-bottom: 1px solid #f3f3f3;
        .baobab-mix-item--title {
          padding-top: 12px;
          padding-left: 7px;
          text-align: left;
          background-color: #fff;
          font-size: 14px;
          color: #333;
        }
      }
      .baobab-btn--wrapper {
        position: absolute;
        display: flex;
        bottom: 0px;
        right: 0px;
        left: 0px;
        .baobab-btn {
          flex: 1;
        }
      }
    }
  }
}

