.baobab-cell {
	display: flex;
	min-height: 52px;
	padding: 0 20px;
	box-sizing: border-box;
	position: relative;
	align-items: center;
}

.baobab-cell--hd {
	flex: 1;
	font-size: 16px;
	min-width: 95px;
  color: #000;
}

.baobab-cell--bd {
	overflow: hidden;
	padding-left: 5px;
	word-break: break-all; // 换行
	font-size: 14px;
	color: #666;
	margin-right: 5px;
}

.baobab-cell--icon {
	width: 16px;
	height: 16px;
	padding-right: 6px;
	img {
		width: 100%;
		height: 100%;
	}
}

.baobab-cell--arrow {
	display: block;
	width: 8px;
	height: 8px;
	border-right-color: #cacaca;
	border-bottom-color: #cacaca;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	transform: rotate(-45deg);
}
