.field--label {
  display: flex;
  align-items: center;
  img {
    width: 14px;
    height: 12px;
    margin-right: 6px;
  }
}

.field--hd {
  min-width: 75px;
  max-width: 150px;
}

.field--bd {
  display: flex;
  flex: 1;
  align-items: center;
  .field--bd--textIpt {
    flex: 1;
  }

  .field--vilidCode {
    width: 84px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 50px;
    border-left: 1px solid #f3f3f3;
    font-size: 14px;
  }
}

.field--vilidCode-btn {
  color: #3E81F1;
}

.field--vilidCode-btn.disabled {
  color: #aaa;
  font-size: 12px;
}
