.baobab-swipe-out-item {
  position: relative;
  
  .baobab-swipe-out-item-btns {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    transform: translateX(100%);

    .baobab-swipe-out-item-btn {
      background-color: red;
      color: #fff;
      width: 100px;
      text-align: center;
    }
  }
}