.baobab-actionSheet {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #f3f3f3;
  width: 100%;
}

.baobab-actionSheet--title {
  height: 36px;
  line-height: 36px;
  text-align: center;
  font-size: 14px;
  color: #666;
  background-color: #fff;
}

.baobab-actionSheet--options {
  background-color: #fff;
  margin-bottom: 10px;
  overflow: scroll;
  max-height: 300px;
  -webkit-overflow-scrolling: touch;
}

::-webkit-scrollbar {
  display: none;
}

.baobab-actionSheet--option {
  position: relative;
  height: 44px;
  line-height: 44px;
  color: #333;
  font-size: 16px;
  text-align: center;
}

.baobab-actionSheet--cancel {
  background-color: #fff;
}
