.cell--body {
  padding-left: 21px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 265px;
}

.cell--body-desc {
  font-size: 14px;
  color: #BDBDBD;
}

.cell--body-arrow {
  padding-bottom: 5px;

  i {
    display: block;
    width: 8px;
    height: 8px;
    border-right-color: #cacaca;
    border-bottom-color: #cacaca;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-right-style: solid;
    border-bottom-style: solid;
    transform: rotate(45deg);
  }
}

.cell--body-desc.cell--body-selectedDesc {
  color: #333;
}
