.Field--label {
  min-width: 75px;
  max-width: 150px;
  padding-right: 20px;
  font-size: 14px;
  font-family: sans-serif;
  color: #333;
}

.Field--bd {
  flex: 1;
  display: flex;
  align-items: center;
}

.Field--msg {
  position: absolute;
  left: 0;
  top: 41px;
  width: 95%;
  height: 26px;
  line-height: 26px;
  background-color: #FCF9EC;
  border: 1px solid #FCE5B8;
  border-radius: 2px;
  text-align: center;
  z-index:3;
}
