.baobab-spinner {
  display: inline-block;
  box-sizing: border-box;
  border-radius: 50%;
  border-style: solid;
  animation: spinner .9s linear infinite;
}

@keyframes spinner {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}
