.about--header {
  padding-top: 65px;
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    width: 100px;
    height: 50px;
  }
  .about--version {
    padding-top: 15px;
    line-height: 40px;
    color: #666;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 30px;
  }
}

.about--icon {
  width: 18px;
  height: 18px;
}

.motto {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 15px;
  color: #ec79a7;
  font-weight: 100;
  margin-top: 35px;
  padding: 0 20px;
  font-family: PingFangSC-Thin,Lantinghei SC,Open Sans,Arial,Hiragino Sans GB,Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,STHeiti,WenQuanYi Micro Hei,SimSun,sans-serif;
}
