.spinner--wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.spinner--item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 80px;
  margin-top: 50px;
}

.spinner--item:nth-last-child(1) {
  margin-bottom: 50px;
}