.baobab-button {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.baobab-button--name {
  line-height: 1;
}

// 遮罩层
.baobab-button--overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: .5;
}

.baobab-button--spinner {
  position: relative;
  z-index: 1;
  margin-right: 5px;
}
