.swipeOut {
  background: #fff;

  .baobab-swipe-out-item {
    height 100px;

    &:nth-last-child(1) .swipe-content {
      border: 0;
    }
  }

  .baobab-swipe-out-item-box {
    padding-left: 10px;
    height: 100px;
  }

  .baobab-swipe-out-item-btn {
    height 100px;
    line-height: 100px;
  }
  
  .swipe-content {
    display flex;
    align-items: center;
    justify-content space-between;
    height: 100px;
    border-bottom: 1px solid #eee;
    box-sizing: border-box;
    h3 {
      width: 100px;
    }
    p {
      flex: 1;
      margin-right: 10px;
    }
  }
}

.swipeOut--btns {
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align center
  background red;
  color: #fff;
}
