.single--wrapper {
  .section--item {
    position: relative;
    padding: 15px 14px;
    display: flex;
    background-color: #ffffff;
    &:last-child {
      border: none;
    }
    .section--item-name {
      &.selected {
        color: #3E81F1;
      }
    }
    .section--item-selected {
      width: 14px;
      height: 8px;
      border-bottom: 1px solid #3E81F1;
      border-left: .5px solid #3E81F1;
      transform: rotate(-30deg);
    }
  }
}