.Badge {
  display: inline-block;
  text-align: center;
  color: #fff;
  font-size: 12px;
  height: 14px;
  line-height: 14px;
  border-radius: 100px;
  padding: 0 4px;
  background-clip: padding-box;
  vertical-align: middle;
}

.Badge--dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  padding: 0;
}

.Badge--single {
  width: 14px;
  padding: 0;
  border-radius: 50%;
}
