.btns {
  padding: 0px 20px 0;
  box-sizing: border-box;
  .btn--item {
    padding-top: 20px;
    margin: 0 auto;
  }
}

.btn--item:nth-last-child(1) {
  padding-bottom: 50px;
}

.btn--main {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 16px;
    height: 16px;
    padding-right: 10px;
  }
}

.small--btns {
  display: flex;
  justify-content: center;
  align-items: center;
  .btn--item:nth-last-child(1) {
    padding-bottom: 0px;
  }
}
